{% extends "base.html" %}
{% block content %}
  <h1>{{ car.model }}</h1>

  <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }} ({{ car.manufacturer.country }})</p>

  <h2>Drivers</h2>
  {% if car.drivers.all %}
    <ul>
      {% for driver in car.drivers.all %}
        <li>
          <a href="{% url "driver-detail" driver.id %}">
            {{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No drivers assigned to this car.</p>
  {% endif %}
{% endblock %}
